[user]
	email = lorenzo.alluminio@protonmail.com
	name = Lorenzo Alluminio
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	d = diff
	last = log -1 HEAD
	lo = log --oneline
	cm = commit -m
[core]
	editor = vim
